@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;600&display=swap');

/* font-family: 'Oswald', sans-serif; */

#indexflex{
display: flex;
line-height: 0;
flex-direction: column;
align-items: center;
max-height: fit-content;
margin: auto;
}


nav{
  border-style: solid;
  max-width: 50px;
  text-align: center;
}

#About{ 
  color: black;
  font-size: 20px;
  text-align: center;
  font-family: 'Oswald', sans-serif;
  font-weight: 600;
}

.welcome{
  color: black;
  font-size: 40px;
  text-align: center;
  font-family: 'Oswald', sans-serif;
  font-weight: 600; 
} 

.text{
  color: rgba(187, 164, 96, 0.939);
  font-size: 20px;
  text-align: center;
  font-family: 'Oswald', sans-serif;
  font-weight: 600;
}

.text2{
  color: rgba(28, 24, 11, 0.939);
  font-size: 18px;
  text-align: center;
  font-family: 'Oswald', sans-serif;
  font-weight: 600;
}
.starving{
  color: rgba(187, 164, 96, 0.939);
  font-size: 100px;
  text-align: center;
  font-family: 'Oswald', sans-serif;
  font-weight: 600;
}

.starving a{
    text-decoration: none;
    color:rgba(187, 164, 96, 0.939);
}

.list a{
    text-decoration: none;
    color:black;
}

.or{
  color: black;
  font-size: 50px;
  text-align: center;
  font-family: 'Oswald', sans-serif;
  font-weight: 600;
}
.hungry{
 color:rgba(187, 164, 96, 0.939); 
 font-size: 100px;
 text-align: center;
 font-family: 'Oswald', sans-serif;
 font-weight: 600;
}

.hungry a{
    text-decoration: none;
    color:rgba(187, 164, 96, 0.939);
    stroke-width: 10;
}

.favorites{
color:rgba(187, 164, 96, 0.939); 
 font-size: 100px;
 text-align: center;
 font-family: 'Oswald', sans-serif;
 font-weight: 600;
}

.list ul{
list-style: none;

}
.list li{
color:black; 
font-size: 50px;
text-align: center;
font-family: 'Oswald', sans-serif;
font-weight: 200;
list-style-type: none;  
}

.your-centered-div {
display: flex;
align-items: center;

}