@import url('https://fonts.googleapis.com/css2?family=Square+Peg&display=swap');
/* font-family: 'Square Peg', cursive; */

html{
    background-color: black;
}

nav{
  border-style: solid;
  max-width: 120px;
  text-align: center;
  margin-left: 1em;
}
#calc{ 
  color: white;
  font-size: 40px;
  text-align: center;
  font-family: 'Square Peg', cursive;
  font-weight: 600;
}


#indexflex{
display: flex;
line-height: 0;
flex-direction: column;
align-items: center;
max-height: fit-content;
margin: auto;
}


#photoflex{
display: flex;
line-height: 0;
flex-wrap: wrap;
width: 800px;
flex-direction: row;
margin: auto;
}


a{
  text-decoration: none;
  color:black;
}

a :hover{
  color: white;
}

#listflex{ 
  line-height: 0;
  flex-direction: column;
  align-items: center;
  max-height: fit-content;
  margin: auto;
  font-size: 50px; 
  text-align: center;
  font-family: 'Square Peg', cursive;
  font-weight: 100;
}



.oneshow:hover:after{
  content: attr(data-one);
  color: white; 
  display: flex;
 align-items: center;
  flex-wrap: wrap; 
  font-size: 20px; 
  line-height: 24px;
  text-align: justify;
  font-family: 'Square Peg', cursive;
}

img.oneshow:hover{
  display: none; 
  
}

.twoshow:hover:after{
  content: attr(data-one);
  color: white; 
  display: flex;
 align-items: center;
  flex-wrap: wrap; 
  font-size: 20px; 
  line-height: 24px;
  text-align: justify;
  font-family: 'Square Peg', cursive;
}

img.twoshow:hover{
  display: none; 
  
}

.threeshow:hover:after{
  content: attr(data-one);
  color: white; 
  display: flex;
 align-items: center;
  flex-wrap: wrap; 
  font-size: 20px; 
  line-height: 24px;
  text-align: justify;
  font-family: 'Square Peg', cursive;
}

img.threeshow:hover{
  display: none; 
  
}

#button{
  color: white;
}

#demo{
  color: white;
}

.fourshow:hover:after{
  content: attr(data-one);
  color: white; 
  display: flex;
 align-items: center;
  flex-wrap: wrap; 
  font-size: 20px; 
  line-height: 24px;
  text-align: justify;
  font-family: 'Square Peg', cursive;
}

img.fourshow:hover{
  display: none; 
  
}

.fiveshow:hover:after{
  content: attr(data-one);
  color: white; 
  display: flex;
 align-items: center;
  flex-wrap: wrap; 
  font-size: 20px; 
  line-height: 24px;
  text-align: justify;
  font-family: 'Square Peg', cursive;
}

img.fiveshow:hover{
  display: none; 
  
}
.Reading{
  color: white;
  font-size: 100px;
  text-align: center;
  font-family: 'Square Peg', cursive;
  font-weight: 300;
}

#orange{
  color: orange; 
}

#blue{ 
  color: aqua;
}

#red{
  color: red;
  font-size: 50px; 
  text-align: center;
  font-family: 'Square Peg', cursive;
  font-weight: 100;
}

#yellow{
  color: yellow;
  font-size: 50px; 
  text-align: center;
  font-family: 'Square Peg', cursive;
  font-weight: 100;
}

#purple{
  color: purple;
  font-size: 50px; 
  text-align: center; 
  font-family: 'Square Peg', cursive;
  font-weight: 100;
}

.small{
  color: white;
  font-size: 50px; 
  text-align: center;
  font-family: 'Square Peg', cursive;
  font-weight: 100;
}

header {
text-align: center;
font-size: 25px;
color: white;
font-weight: 600;
font-family: 'Square Peg', cursive;
}

.box {
width: 300px;
height: 20px;
font-size: 15px;
border-radius: 5px;
}

section {
text-align: center;
}


h3 {
width: 800px;
text-align: center;
color: white;
}

button {
background-color: orange;
border-radius: 5px;
width: 100px;
font-size: 15px;
}

button:hover {
cursor: pointer;
background-color: #8B0000;
}